{% set ns = namespace(found=false) %}

{% for artifact in artifact_state_absent_transient
                   | default((artifact_run_once | bool)
                             | ternary(__artifact_state_absent_run_once,
                                       __artifact_state_absent_run_n)) %}

{% set artifact_dest = artifact.dest | regex_replace("/+", "/") %}

{% set download_path = ansible_local["artifact_" + artifact.id].download_path
                       | default(artifact_result[artifact.id].download_path)
                       | default(artifact_dest + "/" + artifact.dest_file | default(artifact.file))
                       | default(none) %}

{% if artifact_local_facts %}
{% set unarchived_files = ansible_local["artifact_" + artifact.id].unarchived_files
                          | default(artifact_result[artifact.id].unarchived_files)
                          | default([])
                          | map("regex_replace", "/+", "/")
                          | list %}
{% else %}
{% set unarchived_files = [] %}
{% endif %}

- id: "{{ artifact.id }}"
{% set ns.found = true %}
{% set ns_files = namespace(found=false) %}
{% if download_path | length == 0
      and unarchived_files | length == 0 %}
  files: []
{% set ns_files.found = true %}
{% else %}
  files:
{% if download_path | length > 0
      and artifact_absent_download | default(true) | bool %}
    - {{ download_path }}
{% set ns_files.found = true %}
{% endif %}

{% if artifact.unarchive_clean | default(true) | bool
      and artifact_absent_unarchived | default(true) | bool %}
{% for file in unarchived_files %}
{% if file | dirname in ["", "/", artifact_dest] %}
    - {{ file }}
{% set ns_files.found = true %}
{% else %}
{% set subpath = file
                 | dirname
                 | regex_replace("^" + artifact_dest + "/(.*)$", "\\1") %}
{% set topdir = subpath.split("/") | first %}
    - {{ artifact_dest }}/{{ topdir }}
{% set ns_files.found = true %}
{% endif %}
{% endfor %}
{% endif %}

{% endif %}

{% if not ns_files.found %}
  files: []
{% endif %}
{% endfor %}

{% if not ns.found %}
[]
{% endif %}
