{% set ns = namespace(found=false) %}
{% if artifact_unarchive_result.results is defined %}
{% set unarchived = artifact_unarchive_result.results
                    | default([])
                    | selectattr("artifact_item", "defined")
                    | selectattr("artifact_item.id", "defined")
                    | select("changed")
                    | map(attribute="artifact_item.id")
                    | list %}
{% else %}
{% set unarchived = [] %}
{% endif %}

{%- macro fact(artifact, result={}) %}
{% set ns.found = true %}

"{{ artifact.id }}":
  state: present
  version: "{{ artifact.version | default('') }}"

{% if artifact.type | lower in ["gitlab", "github", "http", "https", "jenkins"] %}
{% set download_path = artifact.dest + "/" + artifact.dest_file | default(artifact.file) %}
{% else %}
{% set download_path = result.dest | default((ansible_local["artifact_" + artifact.id] | default({}))['download_path'] | default('')) %}
{% endif %}
  download_path: "{{ download_path | regex_replace("/+", "/") }}"

{% if artifact.unarchive | default(false)
      and artifact_unarchive_result.results is defined %}
{% set unarchived_result = artifact_unarchive_result.results
                           | default([])
                           | selectattr("artifact_item", "defined")
                           | selectattr("artifact_item.id", "defined")
                           | selectattr("artifact_item.id", "equalto", artifact.id)
                           | list
                           | first %}

{% if ansible_local["artifact_" + artifact.id] is defined
      and ansible_local["artifact_" + artifact.id].unarchived_files is defined %}
{% set unarchived_files_saved = ansible_local["artifact_" + artifact.id].unarchived_files
                                | map("regex_replace", "/+", "/")
                                | list %}
{% else %}
{% set unarchived_files_saved = [] %}
{% endif %}

{% if unarchived_result is defined
      and unarchived_result.files is defined %}

{% set inner_ns = namespace(unarchived_files=[]) %}
{% for file in unarchived_result.files %}
{% if artifact not in artifact_setup_archive_root_result.results
                      | default([])
                      | map(attribute="artifact_item")
                      | list %}
{% set path_replacement = artifact.dest %}
{% else %}
{% set path_replacement = artifact.dest
                          + "/"
                          + artifact.unarchive_force_root %}
{% endif %}
{% set inner_ns.unarchived_files =
         inner_ns.unarchived_files
         + [ file
             | regex_replace("^./", "")
             | regex_replace("^", path_replacement + "/")
             | regex_replace("/+", "/") ] %}
{% endfor %}
  unarchived_files: {{ inner_ns.unarchived_files
                       | map("regex_replace", "/+", "/")
                       | list
                       | unique
                       | list
                       | to_json }}
{% else %}
  unarchived_files: {{ unarchived_files_saved
                       | map("regex_replace", "/+", "/")
                       | list
                       | to_json }}
{% endif %}

{% else %}
  unarchived_files: []
{% endif %}
{%- endmacro %}

{% set ns_gitlab = namespace(clone_changed=[], reset_changed=[], cleanup_changed=[]) %}
{% for result in artifact_gitlab_clone_result.results %}
{% if result | default({}) is changed %}
{% set ns_gitlab.clone_changed = ns_gitlab.clone_changed
                                 + [result.artifact_item.project] %}
{% endif %}
{% endfor %}

{% set ns_gitlab = namespace(clone_changed=[], reset_changed=[], cleanup_changed=[]) %}
{% for result in artifact_gitlab_reset_result.results %}
{% if result | default({}) is changed %}
{% set ns_gitlab.clone_changed = ns_gitlab.reset_changed
                                 + [result.artifact_item.project] %}
{% endif %}
{% endfor %}

{% set ns_gitlab = namespace(clone_changed=[], reset_changed=[], cleanup_changed=[]) %}
{% for result in artifact_gitlab_cleanup_result.results %}
{% if result | default({}) is changed %}
{% set ns_gitlab.cleanup_changed = ns_gitlab.cleanup_changed
                                 + [result.artifact_item.project] %}
{% endif %}
{% endfor %}

{% for artifact in artifact_present_facts
                   | selectattr("type", "in", ["gitlab", "github"])
                   | list %}
{{- fact(artifact) }}
  changed: {{ artifact.project in ns_gitlab.clone_changed
              or artifact.project in ns_gitlab.reset_changed
              or artifact_gitlab_checkout_result.results[loop.index0] is changed
              or artifact_gitlab_move_result.results[loop.index0] is changed
              or artifact.project in ns_gitlab.cleanup_changed
              or artifact_gitlab_attributes_result.results[loop.index0] is changed
              or artifact.id in unarchived }}
{% endfor %}

{% for artifact in artifact_present_facts
                   | selectattr("type", "in", ["http", "https"])
                   | list %}
{{- fact(artifact) }}
  changed: {{ artifact_http_result.results[loop.index0] is changed
              or artifact.id in unarchived }}
{% endfor %}

{% for artifact in artifact_present_facts
                   | selectattr("type", "in", ["maven"])
                   | list %}
{{- fact(artifact, artifact_maven_result.results[loop.index0]) }}
  changed: {{ artifact_maven_result.results[loop.index0] is changed
              or artifact.id in unarchived }}
{% endfor %}

{% for artifact in artifact_present_facts
                   | selectattr("type", "in", ["jenkins"])
                   | list %}
{{- fact(artifact) }}
  changed: {{ artifact_jenkins_result.results[loop.index0] is changed
              or artifact.id in unarchived }}
{% endfor %}

{% for artifact in artifact_absent_facts %}
{% set ns.found = true %}
"{{ artifact.id }}":
  state: absent
  version: "{{ artifact.version | default('') }}"
  changed: {{ artifact_remove_result.results
              | selectattr("artifact_item_to_remove.0.id", "equalto", artifact.id)
              | select("changed")
              | list
              | length > 0 }}
{% endfor %}

{% if not ns.found %}
{}
{% endif %}
